@model IEnumerable<CSMS.Web.Models.Service.FaultRecord>
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<table class="table table-sm table-responsive" style="table-layout: fixed;">
    <thead>

        <tr>

            <td><b>Record ID</b></td>
            <td><b>Plate Number</b></td>
            <td><b>Car Km</b></td>
            <td><b>Arrival Date</b></td>
            <td><b>Description</b></td>
            <td><b>Result</b></td>
        </tr>

    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RecordId</td>
            <td>@item.CustomerCar.Plate</td>
            <td>@item.CarKm</td>
            <td>@item.ArrivalDate.ToShortDateString()</td>
            <td style="overflow-wrap: break-word;">@item.Record</td>
            @if (@item.Status == true)
            {
                <td>
                    @Html.ActionLink("See The Report", "FaultReport", "Car", new { orderid = item.RecordId }, new { @class = "btn btn-sm btn-success", target = "_blank"})
                </td>
            }
            else
            {
                <td>
                    <button type="button" class="btn btn-sm btn-warning">In Progress</button>
                </td>
            }
            
        </tr>
    }
</table>


