<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dashboard.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/Panel/">Admin Panel</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/Home">Back to Home</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="flex-shrink-0 p-3 bg-light">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                <span data-feather="align-justify"></span> Panel
                            </button>
                            <div class="collapse" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/UsersAdmin/" class="nav-link">Users</a></li>
                                </ul>
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/Order/" class="nav-link">Show Car List</a></li>
                                </ul>
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/Order/OpenedOrders" class="nav-link">Opened Faults Records</a></li>
                                </ul>
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/Order/ClosedOrders" class="nav-link">Closed Faults Records</a></li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1>@ViewBag.Title</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                </div>

            </div>
            <div>
                @RenderBody()
            </div>

        </main>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/sidebars.js"></script>
</body>

</html>
