@model CSMS.Models.ApplicationUser
@{
    ViewBag.Title = "Customer Panel";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    body {
    }

	.service .card-body i{
	    font-size: 50px;
    }
</style>

<div class="container">
    <div class="row ">
        <div class="col-sm col-12 col-md-4 col-lg-4">
            <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                    <h4>
                        <b><u>Customer Information</u></b>
                        <br />
                        <br />
                        <b>Name:</b> @Model.Name
                        <br />
                        <b>Surname:</b> @Model.Surname
                        <br />
                        <b>Email:</b> @Model.Email
                        <br />
                        <b>Adress:</b> @Model.Address
                        <br />
                        <b>Phone Number:</b> @Model.PhoneNumber
                        <br />
                    </h4>
                </div>

            </div>

        </div>

        <div class="col-sm">
            <div class="card text-white text-center bg-dark mb-3" style="max-height: 50rem;">
                <div class="card-body">
                    <h4>
                        <b><u>Customer's Cars</u></b>
                        <br />
                        <br />
                        <b>Customer Has:</b> @Model.Cars.Count Car(s)
                        <br />
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>