@model IEnumerable<CSMS.Models.Service.Car>

@{
    ViewBag.Title = "Car List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col">
            Search (Customer Name / Plate)
            <input type="text" class=" form-control" name="search" />
        </div>
    </div>
    <br />
    <div class="col">
        <input type="submit" class="btn btn-secondary" value="Search" />
    </div>
    <br />


}


<hr />
<table class="table table-sm table-responsive">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ApplicationUser.Name @item.ApplicationUser.Surname</td>
            <td>@item.Plate</td>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.Year</td>
            <td>@item.Type</td>
            <td>
                @Html.ActionLink("Create Fault Record", "OrderCreate", new { carid = item.CarId }, new { @class = "btn btn-sm btn-success" })
            </td>
        </tr>
    }
</table>
