@model IEnumerable<CSMS.Web.Models.Service.FaultRecord>
@{
    ViewBag.Title = "Opened Fault Records";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-sm table-responsive">
    <thead>
        
        <tr>

            <td><b>Record Number</b></td>
            <td><b>Customer</b></td>
            <td><b>Car Km</b></td>
            <td><b>Arrival Date</b></td>
            <td><b>Record</b></td>
        </tr>
        
    </thead>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.RecordId</td>
                    <td>@item.Customer.Name</td>
                    <td>@item.CarKm</td>
                    <td>@item.ArrivalDate</td>
                    <td>@item.Record</td>
                </tr>
            }
</table>



